<h1>New Author</h1>

  <%= form_with url: '/authors', method: :post, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %><br>

    <%= form.label :alive %>
    <%= form.check_box :alive %><br>
    
    <%= form.label :hometown %>
    <%= form.text_field :hometown %><br>
    
    <%= form.label :age_published %>
    <%= form.number_field :age_published %><br>
    
    <%= form.submit 'Create Author' %>
  <% end %>
