<h1><%= @author.name %></h1>
<p>Alive: <%= @author.alive %></p>
<p>Hometown: <%= @author.hometown %></p>
<p>Age First Published: <%= @author.age_published %></p>
<p>Total Books: <%= @author.total_books %></p>
<br>
<h4><%= link_to "#{@author.name}'s Books", "/authors/#{@author.id}/books"%></h4>

<h5><%= link_to "Update Author", "/authors/#{@author.id}/edit"%></h5>