<h1><%= @author.name %></h1>

<% @books.each do |book| %>
<h3> Title: <%= book.title %> </h3>
  <p>Publish Date: <%= book.publish_date %></p>
  <p>Pages: <%= book.pages %></p>
  <p>In Series: <%= book.in_series %></p>
<% end %>

<%= link_to "Create Book", "/authors/#{@author.id}/books/new" %>